<ion-header>
  <ion-toolbar>
    <ion-title>reporteobtenido</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Contenido del reporte -->

  <ion-button expand="full" (click)="generatePDF()">Generar PDF</ion-button>
  <ion-button expand="full" (click)="generateExcel()">Generar Excel</ion-button>
  <ion-button expand="full" (click)="shareReport()">Compartir</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="cerrar()" expand="block">
      Cancelar
    </ion-button>
  </ion-toolbar>
</ion-footer>