<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="asistencia">
      <ion-icon name="qr-code-outline" size="large"></ion-icon>
      <ion-label>Asistencia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alumnos">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
      <ion-label>Alumnos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="asignaturas">
      <ion-icon name="school-outline" size="large"></ion-icon>
      <ion-label>Asignaturas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feriados">
      <ion-icon name="calendar" size="large"></ion-icon>
      <ion-label>Feriados</ion-label>
    </ion-tab-button>


  </ion-tab-bar>


</ion-tabs>