<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Listado de empleados</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios">

  <div class="ion-text-center">
    <ion-button (click)="crearEmpleado()" color="success" shape="round">
      <ion-icon slot="end" name="add"></ion-icon>
      Crear empleado
    </ion-button>
  </div>

  <ion-searchbar placeholder="Buscar por nombre de empleado" (ionChange)="busquedaChange( $event )" animated>

  </ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let emp of empleados | filtro:textoBuscar">
      <ion-item-options side="start">
        <ion-item-option (click)="mostrarAlertaEditar(emp)">
          Editar
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-label>
          <h2>
            {{ emp.nombreempleado }} {{ emp.ap_paternoempleado }} {{ emp.ap_maternoempleado }}
          </h2>
          <h6>{{ emp.rutempleado }}</h6>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="mostrarAlertaEliminar(emp.idempleado)">
          Eliminar
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>