<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios">

  <ion-grid fixed="true">

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Usuario:</ion-label>
            <ion-input type="email" placeholder="Email" name="name"
              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required></ion-input>
            <!--
             El "pattern" permite definir nuestras propias reglas para validar el valor del "input", si el valor no coincide con el patrón especificado, entonces arrojará un error 
             -->
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="recuperarPass()" type="submit" shape="round" expand="block">
          Recuperar contraseña
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="salirMenuPrincipal()" expand="block">
      Cancelar
    </ion-button>
  </ion-toolbar>
</ion-footer>