<ion-content [fullscreen]="true" class="ion-padding" mode="ios">

  <ion-list class="ion-text-center">
    <img src="assets/welcomeLogo.jpg" />

    <ion-button color="white" expand="block" shape="round" routerLink="/login">
      Iniciar sesión
    </ion-button>

    <ion-button (click)="registerUser()" color="white" expand="block" shape="round">
      Crea tu cuenta
    </ion-button>

    <ion-text color="white">
      <p>
        Usuario nuevo? Regístrate.
      </p>
    </ion-text>

  </ion-list>

</ion-content>