<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Reporte individual</ion-title>
    <ion-icon name="document-text-outline" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="translucent-card">
    <ion-list>
      <ion-item>
        <ion-label>Empleado:</ion-label>
        <ion-select placeholder="Seleccionar empleado" [(ngModel)]="empleadoSeleccionado">
          <ion-select-option *ngFor="let empleado of empleados" [value]="empleado.id">
            {{ empleado.nombre}} {{empleado.ap_paterno}} {{empleado.ap_materno}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Desde:</ion-label>
        <ion-button (click)="showCalendar('inicio')">
          {{ fechaInicio ? (fechaInicio | date: 'dd-MM-yyyy') : 'Seleccionar fecha' }}
        </ion-button>
        <ion-datetime displayFormat="dd-MM-yyyy" pickerFormat="dd-MM-yyyy" [(ngModel)]="fechaInicio"
          [hidden]="!showCalendarInicio" [isDateEnabled]="isWeekday" [firstDayOfWeek]="1"
          (ionCancel)="hideCalendar('inicio')" (ionChange)="hideCalendar('inicio')"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Hasta:</ion-label>
        <ion-button (click)="showCalendar('fin')">
          {{ fechaFin ? (fechaFin | date: 'dd-MM-yyyy') : 'Seleccionar fecha' }}
        </ion-button>
        <ion-datetime displayFormat="dd-MM-yyyy" pickerFormat="dd-MM-yyyy" [(ngModel)]="fechaFin"
          [hidden]="!showCalendarFin" [isDateEnabled]="isWeekday" [firstDayOfWeek]="1" (ionCancel)="hideCalendar('fin')"
          (ionChange)="hideCalendar('fin')"></ion-datetime>
      </ion-item>
    </ion-list>

    <br>
    <div class="ion-text-center">
      <ion-button expand="none" shape="round" color="primary" (click)="obtenerAsistencias()">
        Obtener Reporte
      </ion-button>
    </div>
    <br>
  </ion-card>

  <div *ngIf="!report && !reportObtenido">
    <p class="ion-text-center">No has cargado un reporte.</p>
  </div>


  <div *ngIf="reportObtenido && (!asistenciasFiltradas || asistenciasFiltradas.length === 0)">
    <p class="ion-text-center">No existen registros.</p>
  </div>

  <!-- ---------------------------------------------------------------  -->

  <div *ngIf="asistenciasFiltradas && asistenciasFiltradas.length > 0">
    <table class="tabla-centrada">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Ingreso</th>
          <th>Salida</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of asistenciasFiltradas" [hidden]="entry.empleado !== empleadoSeleccionado">
          <td>{{ entry.fecha_registro | date: 'dd-MM-yyyy' }}</td>
          <td>{{ entry.hora_entrada | date: 'HH:mm' }}</td>
          <td>{{ entry.hora_salida | date: 'HH:mm' }}</td>
          <td>
            <ion-button (click)="editarRegistro(entry)">
              <ion-icon name="pencil" size="small" ></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="eliminarRegistro(entry.id)">
              <ion-icon name="trash" size="small" ></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- ---------------------------------------------------------------  -->

<!--   <div *ngIf="asistenciasFiltradas && asistenciasFiltradas.length > 0">
    <div *ngIf="report" class="ion-text-center">
      <br>
      <ion-label>Descargar
        <ion-icon name="cloud-download-outline" style="font-size: 18px;" slot="end"></ion-icon>
      </ion-label>

    </div>
    <div *ngIf="report" class="ion-text-center">
      <ion-button fill="none" size="large" (click)="exportarPDF()">
        <ion-icon src="../../../../assets/icon/pdf.svg" style="font-size: 50px;"></ion-icon>
      </ion-button>
      <ion-button fill="none" size="large" (click)="exportarXLSX()">
        <ion-icon src="../../../../assets/icon/xlsx.svg" style="font-size: 50px;"></ion-icon>
      </ion-button>
    </div>
  </div> -->

</ion-content>

<ion-footer class="ion-text-center">
  <ion-button (click)="cerrar()" color="danger" shape="round">
    Cerrar
  </ion-button>
</ion-footer>