<ion-header>
  <ion-toolbar>
    <ion-title>Asistencia en línea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios">

  <ion-card class="ion-text-center">
    <ion-card-content>
      <qrcode [qrdata]="qrCodeString" 
              [width]="246" 
              [errorCorrectionLevel]="'M'">
      </qrcode>
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <ion-label>Asignatura:</ion-label>
  <h3> {{asignatura}} </h3>
  <br>
  <ion-label>Fecha:</ion-label>
  <h3> {{fechaClase}} </h3>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="salirMenuPrincipal()" expand="block">
      Salir al menú principal
    </ion-button>
  </ion-toolbar>
</ion-footer>