<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/user.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios">


    <ion-button (click)="loginAlumno()" size="large" shape="round" color="secondary">ALUMNO</ion-button>

    <p> </p>

    <ion-button (click)="loginProfe()" size="large" shape="round">PROFESOR</ion-button>


</ion-content>