<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Reporte mensual</ion-title>
    <ion-icon name="document-text-outline" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="translucent-card">
    <ion-list>
      <ion-item>
        <ion-label>Empleado:</ion-label>
        <ion-select placeholder="Seleccionar empleado" [(ngModel)]="empleadoSeleccionado">
          <ion-select-option *ngFor="let empleado of employees" [value]="empleado.id">
            {{ empleado.nombre}} {{empleado.ap_paterno}} {{empleado.ap_materno}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Fecha:</ion-label>
        <ion-datetime placeholder="Seleccionar fecha" [(ngModel)]="fechaSeleccionada"></ion-datetime>
      </ion-item>
    </ion-list>
    <br>
    <div class="ion-text-center">
      <ion-button expand="none" shape="round" color="success"
        (click)="obtenerAsistencias(empleadoSeleccionado, fechaSeleccionada, fechaSeleccionada)">Obtener
        Reporte</ion-button>
    </div>
    <br>
  </ion-card>

  <div *ngIf="report">
    <ion-list>
      <ion-item *ngFor="let entry of report">
        <ion-label>{{ entry.fecha_registro }}</ion-label>
        <ion-label>{{ entry.hora_entrada }}</ion-label>
        <ion-label>{{ entry.hora_salida }}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="ion-text-center">
    <ion-button expand="none" shape="round" color="primary" (click)="exportarPDF()">Exportar PDF</ion-button>
    <ion-button expand="none" shape="round" color="primary" (click)="exportarXLSX()">Exportar XLSX</ion-button>
  </div>

</ion-content>

<ion-footer class="ion-text-center">
  <ion-button (click)="cerrar()" color="danger" shape="round">
    Cerrar
  </ion-button>
</ion-footer>