<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Reporte mensual</ion-title>
    <ion-icon name="document-text-outline" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="translucent-card">
    <ion-list>
      <ion-item>
        <ion-label>Mes:</ion-label>
        <ion-select [(ngModel)]="seleccionarMes">
          <ion-select-option value="enero">Enero</ion-select-option>
          <ion-select-option value="febrero">Febrero</ion-select-option>
          <ion-select-option value="marzo">Marzo</ion-select-option>
          <ion-select-option value="abril">Abril</ion-select-option>
          <ion-select-option value="mayo">Mayo</ion-select-option>
          <ion-select-option value="junio">Junio</ion-select-option>
          <ion-select-option value="julio">Julio</ion-select-option>
          <ion-select-option value="agosto">Agosto</ion-select-option>
          <ion-select-option value="septiembre">Septiembre</ion-select-option>
          <ion-select-option value="octubre">Octubre</ion-select-option>
          <ion-select-option value="noviembre">Noviembre</ion-select-option>
          <ion-select-option value="diciembre">Diciembre</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <br>
    <div class="ion-text-center">
      <ion-button expand="none" shape="round" color="primary" (click)="obtenerAsistencias()">
        Obtener Reporte
      </ion-button>
    </div>
    <br>
  </ion-card>

  <div *ngIf="!report">
    <p class="ion-text-center">No has cargado un reporte.</p>
  </div>

  <div *ngIf="report && report.length === 0">
    <p class="ion-text-center">No existen registros.</p>
  </div>

  <div *ngIf="report && report.length > 0">
    <table class="tabla-centrada">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Nombre</th>
          <th>Ingreso</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of report">
          <td>{{ entry.fecha_registro | date: 'dd-MM-yyyy' }}</td>
          <td>{{ entry.nombreCompleto }}</td>
          <td>{{ entry.hora_entrada | date: 'HH:mm' }}</td>
          <td>{{ entry.hora_salida | date: 'HH:mm' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="report" class="ion-text-center">
    <br>
    <ion-label>Descargar
      <ion-icon name="cloud-download-outline" style="font-size: 18px;" slot="end"></ion-icon>
    </ion-label>

  </div>
  <div *ngIf="report" class="ion-text-center">
    <ion-button fill="none" size="large" (click)="exportarPDF()">
      <ion-icon src="../../../../assets/icon/pdf.svg" style="font-size: 50px;"></ion-icon>
    </ion-button>
    <ion-button fill="none" size="large" (click)="exportarXLSX()">
      <ion-icon src="../../../../assets/icon/xlsx.svg" style="font-size: 50px;"></ion-icon>
    </ion-button>
  </div>

</ion-content>

<ion-footer class="ion-text-center">
  <ion-button (click)="cerrar()" color="danger" shape="round">
    Cerrar
  </ion-button>
</ion-footer>