<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Días feriados Chile</ion-title>
    <ion-icon name="calendar-outline" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<br>
  <ion-card class="translucent-card">
    <br>
    <table class="tabla-centrada">
      <tr>
        <th>Título</th>
        <th>Información adicional</th>
        <th>Fecha</th>
      </tr>
      <tr *ngFor="let f of apiFeriados">
        <td>{{ f.title }}</td>
        <td>{{ f.extra }}</td>
        <td>{{ formatDate(f.date) }}</td>
      </tr>
    </table>
    <br>
  </ion-card>

</ion-content>