<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Días feriados Chile</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-padding">
    <ion-list *ngFor="let f of apiFeriados">
      <ion-item>
        <ion-label>
          <h2>{{ f.title }}</h2>
          <h3>{{ f.extra }}</h3>
          <h3>{{ f.date }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>