<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios">

  <form [formGroup]="formularioRegistro">

    <ion-grid fixed="true">

      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Nombre:</ion-label>
              <ion-input formControlName="nombre" placeholder="Introduzca su primer nombre" type="text" required>
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Apellido:</ion-label>
              <ion-input formControlName="apellido" placeholder="Introduzca su primer apellido" type="text" required>
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Correo: </ion-label>
              <ion-input formControlName="email" placeholder="Introduzca su correo" type="email"
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required></ion-input>
              <!--              
                El "pattern" permite definir nuestras propias reglas para validar el valor del "input", si el valor no coincide con el patrón especificado, entonces arrojará un error 
               -->
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Contraseña: </ion-label>
              <ion-input formControlName="password" type="password" required placeholder="Introduzca su contraseña">
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Contraseña: </ion-label>
              <ion-input formControlName="password2" type="password" required
                placeholder="Vuelva a introducir su contraseña"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <ion-button (click)="guardarRegistro()" type="submit" shape="round" expand="block">
            Registrarse
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="salirMenuPrincipal()" expand="block">
      Cancelar
    </ion-button>
  </ion-toolbar>
</ion-footer>