<ion-header>
  <ion-toolbar>
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios">

  <form [formGroup]="formularioRegistro">

    <ion-grid fixed="true">

      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Nombre:</ion-label>
              <ion-icon slot="end" name="person-circle-outline"></ion-icon>
              <ion-input formControlName="nombre" placeholder="Introduzca su primer nombre" type="text" required>
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Apellido:</ion-label>
              <ion-icon slot="end" name="person-circle-outline"></ion-icon>
              <ion-input formControlName="apellido" placeholder="Introduzca su primer apellido" type="text" required>
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Tipo de cuenta: </ion-label>
              <ion-icon name="people-outline" slot="end"></ion-icon>
              <ion-select formControlName="inputOption" placeholder="Seleccione una:">
                <ion-select-option value="profesor">Profesor</ion-select-option>
                <ion-select-option value="alumno">Alumno</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Correo: </ion-label>
              <ion-icon slot="end" name="mail-outline"></ion-icon>
              <ion-input formControlName="email" placeholder="Introduzca su correo" type="email"
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Contraseña: </ion-label>
              <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
              <ion-input formControlName="password" type="password" required placeholder="Introduzca su contraseña">
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Contraseña: </ion-label>
              <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
              <ion-input formControlName="password2" type="password" required
                placeholder="Vuelva a introducir su contraseña"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <ion-button (click)="guardarRegistro()" [disabled]="formularioRegistro.invalid" color="secondary" type="submit" expand="block">
            <ion-icon slot="end" name="person-add-outline"></ion-icon>
            Registrarse
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <br>
  <div class="ion-text-center">
    <ion-button (click)="salirMenuPrincipal()" class="ion-text-center" color="danger" size="medium">
      Cancelar
    </ion-button>
  </div>

</ion-content>