<ion-content class="ion-padding">

  <div class="logo-container">
    <img src="../../../assets/logo_blanco.png">
  </div>

  <form #formulariologin="ngForm" (ngSubmit)="iniciarSesion()">
    <ion-list class="login-form">
      <ion-item color="none" lines="none">
        <ion-icon slot="start" size="large" name="person-circle-outline"></ion-icon>
        <ion-input name="run" [(ngModel)]="run" required
          placeholder=". Ingrese su RUN sin puntos y con guión"></ion-input>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-icon slot="start" size="large" name="lock-closed-outline"></ion-icon>
        <ion-input name="password" type="password" [(ngModel)]="password" required
          placeholder=". Contraseña"></ion-input>
      </ion-item>
    </ion-list>

    <div class="button-container">
      <ion-button type="submit" shape="round" expand="block">Iniciar sesión</ion-button>
    </div>
    <br>
    <div class="forgot-password">
      <ion-router-link (click)="recuperarPass()" class="underline" color="white">¿Olvidaste tu
        contraseña?</ion-router-link>
    </div>
  </form>


</ion-content>

<!-- 
 <ion-button routerLink="/home-admin" expand="round">BOTON TEMPORAL HOME ADMINISTRADOR</ion-button>
 <ion-button routerLink="/home-empleado" expand="round">BOTON TEMPORAL HOME EMPLEADO</ion-button>
     -->