ion-content {
  --background: #023047;
  --color: white;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.login-form {
  --background: white;
  --color: #023047;
  max-width: 450px;
  margin: 0 auto;
}

ion-button {
  --background: #FFB703;
}

p {
  font-size: 15px;
}

ion-list {
  background: transparent;
  --color: #023047;
  max-width: 450px;
  margin: 0 auto;
}

ion-icon {
  color: #ffffff;
}

ion-input {
  border-radius: 25px;
  max-width: 450px;

  --background: white;
  --color: #023047;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
  color: white;
  font-size: 14px;
}