<ion-content class="ion-padding" mode="ios" [fullscreen]="true">
  <div id="bg">
    <ion-fab vertical="bottom" edge horizontal="center" slot="fixed">
      <ion-fab-button color="white" routerLink="/welcome">
        <ion-icon name="close-outline" color="medium"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <ion-list lines="none" class="ion-text-end">
    <ion-list-header>RegisterApp</ion-list-header>
    <br>
    <form [formGroup]="formulariologin">
      <ion-item class="ion-margin">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input formControlName="email" type="email" clearInput="true" placeholder="Introduzca su correo"
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input formControlName="password" type="password" clearInput="true" required
          placeholder="Introduzca su contraseña">
        </ion-input>
      </ion-item>

      <ion-text>
        <p>
          <ion-router-link (click)="recuperarPass()" class="underline">
            ¿Olvidaste la contraseña?
          </ion-router-link>
        </p>
      </ion-text>

      <div class="ion-text-center">
        <ion-button (click)="iniciarSesion()" shape="round" strong="true">
          Iniciar Sesión
          <ion-icon name="log-in" slot="end"></ion-icon>
        </ion-button>
      </div>
    </form>

  </ion-list>
</ion-content>

<ion-footer>
  <p class="ion-text-center"><img src="/assets/duocLogo.png" width="150" height="40"></p>
</ion-footer>