ion-header {
    ion-toolbar {
        --background: #023047;
        color: white;
    }
}

ion-title {
    margin: 0 auto;
}

ion-content {
    --background: #f4f4f4;
}

.ion-text-center {
    text-align: center;
}

ion-button {
    margin-top: 20px;
}

ion-card.translucent-card {
    --background: rgba(2, 48, 71, 0.8);
    --color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(2, 48, 71, 0.8);
    margin: 0;
}

ion-card.translucent-card ion-item {
    --background: transparent;
}

ion-label {
    color: #023047;
}

ion-footer {
    background-color: #023047;
    font-size: 11px;
    color: white;
}

.tabla-centrada {
    margin-left: auto;
    margin-right: auto;
}

.tabla-centrada {
    border-collapse: collapse;
    background-color: #023047;
}

.tabla-centrada th,
.tabla-centrada td {
    border: 2px solid white;
    padding: 8px;
    text-align: center;
}

.tabla-centrada th {
    width: 150px;
}

.tabla-centrada td {
    width: 150px;
}

p {
    color: #023047;
}