<ion-app>
  <ion-menu menuId="first" contentId="main">
    <ion-content>
      <div class="menu-header-bg">
        <div class="user-photo"></div>
      </div>

      <!-- MENÚ LATERAL PARA ADMINISTRADOR -->
      <ion-menu-toggle *ngIf="!isAdmin" class="menu-items" lines="none" autoHide="false" detail>
        <ion-item routerLink="/home">
          <ion-icon src="assets/icon/qr.svg"></ion-icon>
          Asistencia
        </ion-item>
        <ion-item routerLink="/empleados">
          <ion-icon src="assets/icon/usuario.svg"></ion-icon>
          Empleados
        </ion-item>
        <ion-item routerLink="/reportes">
          <ion-icon src="assets/icon/maletabold.svg"></ion-icon>
          Reportes
        </ion-item>
        <ion-item routerLink="/notas">
          <ion-icon src="assets/icon/nota.svg"></ion-icon>
          Recordatorios
        </ion-item>
        <ion-item routerLink="/feriados">
          <ion-icon src="assets/icon/calendario.svg"></ion-icon>
          Feriados de Chile
        </ion-item>
        <br>
        <div class="ion-text-center">
          <ion-button routerLink="/index" expand="round">
            Cerrar sesión
          </ion-button>
        </div>
        <br>
      </ion-menu-toggle>

      <!-- MENÚ LATERAL PARA EMPLEADO -->
      <ion-menu-toggle *ngIf="isAdmin" class="menu-items" lines="none" autoHide="false" detail>
        <ion-item routerLink="/home-empleado">
          <ion-icon src="assets/icon/qr.svg"></ion-icon>
          Asistencia
        </ion-item>
        <ion-item routerLink="/notas">
          <ion-icon src="assets/icon/nota.svg"></ion-icon>
          Recordatorios
        </ion-item>
        <ion-item routerLink="/feriados">
          <ion-icon src="assets/icon/calendario.svg"></ion-icon>
          Feriados de Chile
        </ion-item>
        <br>
        <div class="ion-text-center">
          <ion-button routerLink="/index" expand="round">
            Cerrar sesión
          </ion-button>
        </div>
        <br>
      </ion-menu-toggle>

      <div class="ion-text-center">
        <p>© 2023 LPJ</p>
        <p>Todos los derechos reservados.</p>
        <p>versión 1.56</p>
      </div>

    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>