<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title>Bienvenido {{usuario.nombre}} {{usuario.apellido}}</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios">
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label class="ion-text-center">
          <h2>
            REGISTRO DE ASISTENCIA
          </h2>
          <br>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-select mode="ios" [(ngModel)]="inputOption" placeholder="1.- Seleccione una asignatura:">
        <ion-select-option value="Progr. de Aplicaciones móviles">Progr. de Aplicaciones móviles</ion-select-option>
        <ion-select-option value="Arquitectura">Arquitectura</ion-select-option>
        <ion-select-option value="Progr. de Aplicaciones WEB">Progr. de Aplicaciones WEB</ion-select-option>
        <ion-select-option value="Ingeniería de software">Ingeniería de software</ion-select-option>
        <ion-select-option value="Portafolio de título">Portafolio de título</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>2.- Fecha y hora:</ion-label>
    </ion-item>
    <ion-item>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime [(ngModel)]="myDate" 
                        (ngModelChange)="change()" 
                        displayFormat="dd-MM-yyyy; HH:mm"
                        pickerFormat="dd-MM-yyyy; HH:mm"  
                        [isDateEnabled]="isWeekday" 
                        [firstDayOfWeek]="1"
                        minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
                        id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <br>
    <br>
    <ion-item>
      <ion-text>
        <h6>Ud. ha seleccionado lo siguiente:</h6>
        <h6> {{ inputOption }} </h6>
        <h6> {{ nuevaFecha }} </h6>
      </ion-text>
    </ion-item>
    <br>
    <br>
    <div class="ion-text-center">
      <ion-button (click)="iniciarRegistro()" size="medium" mode="ios">
        <ion-icon shape="round" size="large" slot="end" name="add-circle"></ion-icon>
        Iniciar Registro
      </ion-button>
    </div>
    <br>
  </ion-card>
</ion-content>