<ion-header [style.visibility]="content_visibility">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Registro de asistencia</ion-title>
    <ion-icon name="qr-code-outline" size="large" slot="end"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios" [style.visibility]="content_visibility">

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-slide>
          <ion-button (click)="registrarEntrada()" shape="round" expand="full" color="success"
            [disabled]="entradaRegistrada">
            <ion-icon shape="round" name="enter-outline" size="large" slot="end"></ion-icon>
            Registrar Entrada
          </ion-button>

          <ion-button (click)="registrarSalida()" shape="round" expand="full" color="danger"
            [disabled]="!entradaRegistrada">
            <ion-icon shape="round" name="exit-outline" size="large" slot="end"></ion-icon>
            Registrar Salida
          </ion-button>

        </ion-slide>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <ion-card class="translucent-card">
    <br>
    <ion-item>
      <ion-label class="ion-text-center">
        <h1>
          HISTORIAL
        </h1>
        <br>
      </ion-label>
    </ion-item>

    <table class="tabla-centrada">
      <tr>
        <th>FECHA</th>
        <th>HORA ENTRADA</th>
        <th>HORA SALIDA</th>
      </tr>
      <tr *ngFor="let asistencia of asistencias">
        <td>{{ formatDate(asistencia.fecha_registro) }}</td>
        <td>{{ asistencia.hora_entrada !== null ? asistencia.hora_entrada : '' }}</td>
        <td>{{ asistencia.hora_salida !== null ? asistencia.hora_salida : '' }}</td>
      </tr>
    </table>

    <br>
  </ion-card>


</ion-content>