.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  h1 {
    font-size: 60px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  
  ion-content {
    --background: #023047;
    //--background: linear-gradient(230deg, #FFFFFF 20%, #023047 60%);
    --color: white;
  }
  
  ion-button {
    --background: #FFB703;
  }
  
  ion-footer {
    background-color: #023047;
    font-size: 11px;
  }