<ion-content class="ion-padding">
  <div id="bg" class="ion-text-center">
    <img width="60%" src="../../../assets/logofondoblanco.png">
  </div>

  <ion-title class="ion-text-center">
    <h2>Registro de</h2>
    <h2>Asistencia</h2>
  </ion-title>

  <div class="ion-text-center">
    <ion-button routerLink="/login" expand="round">Iniciar sesión</ion-button>
    <br>
    <ion-button routerLink="/register" expand="round">Crear cuenta</ion-button>
  </div>
</ion-content>

<ion-footer class="ion-text-center">
  <p>
    © 2023 LPJ. Todos los derechos reservados.
  </p>
</ion-footer>