.label-bold {
  font-weight: bold;
  --color: white;
}

.value{
  --color: white;
}

ion-header {
  ion-toolbar {
    --background: #023047;
    color: white;
  }
}

ion-content {
  --background: #f4f4f4;
}

ion-list {
  background-color: #023047;
}

ion-card.translucent-card {
  --background: rgba(2, 48, 71, 0.8);
  --color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(2, 48, 71, 0.8);
  margin: 0;
}

ion-card.translucent-card ion-item {
  --background: transparent;
}
