<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Recordatorios</ion-title>

  </ion-toolbar>

  <ion-content>

    <ion-card class="ion-padding">
      <form [formGroup]="form_notas">
        <ion-item class="ion-margin">
          <ion-icon slot="start" name="reader-outline"></ion-icon>
          <ion-input formControlName="nota" type="text" clearInput="true" required placeholder="Recordatorio">
          </ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button (click)="crearNota()" expand="block" fill="clear" shape="round">
        Crear nota
      </ion-button>
      
      <ion-list>
        <ion-reorder-group disabled="false" (ionItemReorder)="doReorder( $event ) ">

          <ion-item *ngFor="let recordatorios of recordatorios">
            <ion-label>{{ recordatorios }}</ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>

        </ion-reorder-group>
      </ion-list>
    </ion-card>

  </ion-content>