<ion-content class="ion-padding">
  <div class="logo-container">
    <img src="../../../assets/logofondoblanco.png" alt="Logo" width="60%">
  </div>

  <ion-title class="ion-text-center">
    <h1>QR-CHECK!</h1>
    <br>
    <h4>Registro de</h4>
    <h4>asistencia</h4>
  </ion-title>
  <br>
  <br>
  <div class="ion-text-center">
    <ion-button routerLink="/login" expand="round">Iniciar sesión</ion-button>
  </div>
</ion-content>

<ion-footer class="ion-text-center">
  <p>
    © 2023 LPJ. Todos los derechos reservados.
  </p>
</ion-footer>