.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

ion-button {
  margin-top: 30px;
  --background: #FFB703;
}

ion-content {
  --background: #023047;
  --color: white;
}

ion-footer {
  background-color: #023047;
  font-size: 11px;
  color: white;
}

h1, h3 {
  color: white;
  font-weight: bold;
}