<ion-header [style.visibility]="content_visibility">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title>Bienvenido {{usuario.nombre}} {{usuario.apellido}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios" [style.visibility]="content_visibility">

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-slide>
          <ion-button (click)="startScan()" size="large">
            <ion-icon shape="round" name="qr-code" slot="end" size="large"></ion-icon>
            Registrar asistencia
          </ion-button>
        </ion-slide>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="ion-padding">

    <ion-item>
      <ion-label class="ion-text-center">
        <h1>
          HISTORIAL DE ASISTENCIA
        </h1>
        <br>
      </ion-label>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let reg of bd_asistencia">
        <ion-icon slot="start" name="time-outline"></ion-icon>
        <ion-label>
          <h3>
            {{ reg.registro }}
          </h3>
        </ion-label>
      </ion-item>
    </ion-list>

  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="mostrarInfo()">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>