<ion-header>
  <ion-toolbar>
    <ion-title>Añadir alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input [(ngModel)]="nombre" placeholder="Introduzca el nombre" type="text" required>
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>Apellido paterno:</ion-label>
        <ion-input [(ngModel)]="apellidoPaterno" placeholder="Introduzca apellido paterno" type="text" required>
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>Apellido materno:</ion-label>
        <ion-input [(ngModel)]="apellidoMaterno" placeholder="Introduzca su apellido materno" type="text" required>
        </ion-input>
      </ion-item>
    </ion-list>
    <br>
    <br>
    <ion-col>
      <ion-button (click)="crearAlumno()" type="submit" shape="round" expand="block">
        Crear alumno
      </ion-button>
    </ion-col>
    <br>
    <br>
    <br>
    <ion-col>
      <ion-button (click)="cancelar()" shape="round" expand="block" color="danger">
        Cerrar
      </ion-button>
    </ion-col>
  </ion-card>
  
</ion-content>