<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title>Bienvenido<!--  {{usuario.nombre}} {{usuario.apellido}} --></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios">
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label class="ion-text-center">
          <br>
          <h2>
            REGISTRO DE ASISTENCIA
          </h2>
          <br>
        </ion-label>
      </ion-item>
    </ion-list>

    <br>

    <div class="ion-text-center">
      <ion-button (click)="iniciarRegistro()" size="medium" mode="ios">
        <ion-icon shape="round" size="large" slot="end" name="add-circle"></ion-icon>
        Iniciar Registro
      </ion-button>
    </div>

    <br>
    <br>

    <ion-item class="ion-text-center">
      <ion-label>
        <h2>
          Últimos registros
        </h2>
        <br>
      </ion-label>
    </ion-item>

    <table class="tabla-centrada">
      <tr>
        <th>INGRESOS</th>
        <th>SALIDAS</th>
      </tr>
      <tr>
        <td>Dato 1</td>
        <td>Dato 2</td>
      </tr>
    </table>
    <br>
  </ion-card>

</ion-content>