.tabla-centrada {
    margin-left: auto;
    margin-right: auto;
}

.tabla-centrada {
    border-collapse: collapse;
}

.tabla-centrada th,
.tabla-centrada td {
    border: 2px solid black;
    padding: 8px;
}

.tabla-centrada th {
    width: 150px;
}

.tabla-centrada td {
    width: 150px;
}

ion-header {
    ion-toolbar {
        --background: #023047;
        color: white;
    }
}

ion-title {
    margin: 0 auto;
}

ion-content {
    --background: #f4f4f4;
}

.ion-text-center {
    text-align: center;
}

ion-button {
    margin-top: 20px;
}