<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Añadir empleado</ion-title>
    <ion-icon name="person-add-outline" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-icon slot="end" name="person-circle-outline"></ion-icon>
        <ion-input [(ngModel)]="nombre" placeholder="Introduzca el nombre" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Apellido paterno:</ion-label>
        <ion-icon slot="end" name="person-circle-outline"></ion-icon>
        <ion-input [(ngModel)]="ap_paterno" placeholder="Introduzca el apellido paterno" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Apellido materno:</ion-label>
        <ion-icon slot="end" name="person-circle-outline"></ion-icon>
        <ion-input [(ngModel)]="ap_materno" placeholder="Introduzca el apellido materno" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Dirección:</ion-label>
        <ion-icon slot="end" name="home-outline"></ion-icon>
        <ion-input [(ngModel)]="direccion" placeholder="Introduzca la dirección" type="text" required>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>RUN:</ion-label>
        <ion-icon slot="end" name="person-circle-outline"></ion-icon>
        <ion-input [(ngModel)]="rut" placeholder="Introduzca el RUN" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña:</ion-label>
        <ion-icon slot="end" name="key-outline"></ion-icon>
        <ion-input [(ngModel)]="password" placeholder="Introduzca su contraseña" type="password" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña:</ion-label>
        <ion-icon slot="end" name="key-outline"></ion-icon>
        <ion-input [(ngModel)]="pass2" placeholder="Repita su contraseña" type="password" required>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>Tipo de usuario:</ion-label>
        <ion-icon slot="end" name="people-outline"></ion-icon>
        <ion-select [(ngModel)]="tipo_usuario" placeholder="Seleccione una opción:">
          <ion-select-option value="administrador">Administrador</ion-select-option>
          <ion-select-option value="empleado">Empleado</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Estado de empleado:</ion-label>
        <ion-icon slot="end" name="flag-outline"></ion-icon>
        <ion-select [(ngModel)]="estado" placeholder="Seleccione una opción:">
          <ion-select-option value="activo">Activo</ion-select-option>
          <ion-select-option value="inactivo">Inactivo</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <br>
    <ion-row>
      <ion-col>
        <ion-button (click)="crearEmpleado()" type="submit" shape="round" color="success" expand="full">
          <ion-icon slot="end" name="person-add-outline"></ion-icon>
          Crear
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="cerrar()" shape="round" expand="full" color="danger">
          <ion-icon slot="end" name="close-circle-outline"></ion-icon>
          Cerrar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>