<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title>Bienvenido<!--{{usuario.nombre}} {{usuario.apellido}}--></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios">

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-slide>
          <ion-button (click)="startScan()" size="large">
            <ion-icon shape="round" name="qr-code" slot="end" size="large"></ion-icon>
            Registrar asistencia
          </ion-button>
        </ion-slide>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <br>
    <ion-item>
      <ion-label class="ion-text-center">
        <h1>
          HISTORIAL DE ASISTENCIA
        </h1>
        <br>
      </ion-label>
    </ion-item>

    <table class="tabla-centrada">
      <tr>
        <th>INGRESOS</th>
        <th>SALIDAS</th>
      </tr>
      <tr>
        <td>Dato 1</td>
        <td>Dato 2</td>
      </tr>
    </table>
    <br>
  </ion-card>

</ion-content>