ion-header {
    ion-toolbar {
        --background: #023047;
        color: white;
    }
}

ion-title {
    margin: 0 auto;
}

ion-content {
    --background: #f4f4f4;
}

.ion-text-center {
    text-align: center;
}

ion-button {
    margin-top: 20px;
}

ion-item {
    --background: #023047;
}

ion-card {
    --background: #f4f5f8;
}

ion-card-content {
    color: #023047;
}