<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Reportes</ion-title>
    <ion-icon name="document-text-outline" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-button (click)="seleccionarReporte()">Seleccionar reporte</ion-button>
  </div>

  <ion-card mode="ios">
    <ion-item>
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Reporte mensual</ion-label>
    </ion-item>

    <ion-card-content>
      El informe mensual de asistencia es un resumen que muestra la asistencia
      de los empleados durante un mes específico.
    </ion-card-content>

  </ion-card>

  <ion-card mode="ios">
    <ion-item>
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Reporte individual</ion-label>
    </ion-item>

    <ion-card-content>
      El informe individual de asistencia es un resumen que muestra la asistencia
      para un empleado seleccionado en un rango de fechas específico.
      <h2>
        Además, permite la edición o eliminación de los registros.
      </h2>
    </ion-card-content>

  </ion-card>

  <ion-card mode="ios">
    <ion-item>
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Reporte de atrasos</ion-label>
    </ion-item>

    <ion-card-content>
      El informe de atrasos, es un resumen que muestra los atrasos
      de los empleados en un periodo de tiempo específico.
    </ion-card-content>

  </ion-card>

  <ion-card mode="ios">
    <ion-item>
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Reporte de ausencias</ion-label>
    </ion-item>

    <ion-card-content>
      El informe de ausencias, es un resumen que muestra las ausencias
      de los empleados en un periodo de tiempo específico.
    </ion-card-content>

  </ion-card>


</ion-content>