<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Añadir Nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Título:</ion-label>
        <ion-input [(ngModel)]="titulonota" placeholder="Introduce el título de la nota" type="text" required
          minlength="3" maxlength="50"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contenido:</ion-label>
        <ion-textarea [(ngModel)]="contenidonota" placeholder="Introduce el contenido de la nota" required
          minlength="3"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="crearNota()" type="submit" shape="round" color="success" expand="full">
            <ion-icon slot="end" name="book-outline"></ion-icon>
            Crear Nota
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="cerrar()" shape="round" expand="full" color="danger">
            <ion-icon slot="end" name="close-circle-outline"></ion-icon>
            Cerrar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>

<!--       <ion-item>
        <ion-label>Fecha de vencimiento:</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="fechavencimiento" displayInline="true"></ion-datetime>
      </ion-item>
    </ion-list> -->